{% extends 'base.html' %}
{% block title %}
  Login
{% endblock %}

{% block content %}
<div class="container my-4" style="text-align:center">
  <div class="card border-success mb-3 mx-auto align-items-center" style="max-width: 25rem;">
    <form method="POST" action="/users/login/">
      {% csrf_token %}
      <div class="card-header bg-transparent border-success">
        <h2>Login to your account</h2>
      </div>
      <div class="card-body text-success">
        <div class="py-2">
          <input class="py-1" style="text-align:center" type="text" name="Username" placeholder="Username" required />
        </div>
        <div class="py-2">
          <input class="py-1" style="text-align:center" type="password" name="Password" placeholder="Password" required />
        </div>

        <button type="submit" class="btn btn-primary mt-2">Login</button>
      </div>
    </form>

    <div class="card-footer bg-transparent border-success">
      <div class="d-flex justify-content-center links">
        Don't have an account? <a class="underlineHover" href="/users/register">Sign Up</a>
      </div>
      <div>
        <a class="forgot" href="#">Forgot Username?</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}